
body { 
    font-family:"Fraunces", sans-serif ;   

}
/* Containers */
  /* navbar*/
  .menu-container  {
    background-size: cover;
      color:whitesmoke;
}
.navbar {
background-color: black;
position:relative;

}
.reasons-container {
    background: url("../images/forest.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
color: whitesmoke;
margin-top: 0px;
}
.quotes-container {
    color:whitesmoke;
    background-color: black;
    font-weight: 400;
font-size: small;
    
}
.social-media-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    
}
hr {
    margin: 0;
    border: 0;
    
}
hr:not([size]) {
 height: 0;
}
.social-links {
    padding-bottom: 1px;
}
.page-header {
    margin-bottom: 0;
    border-bottom: 0;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links li a i:hover {
    background: #e84610;
}
/*jumbotron*/
.jumbotron-header {
color:white ;
margin-bottom:20px;
}
.jumbotron p  {
    color:rgb(197, 224, 211) ;
    margin-bottom:50px;
    }